doctype html
html( lang="en" )
    head
        meta( charset="utf-8" )/
        meta( name="viewport" content="width=device-width, minimum-scale=1.0" )/
        
        title Azewo a symply and beautiful css reset
        link( rel="stylesheet", href="./css/main.css" )
    body
        main
        
            h1 Azewo
            p The simpliest and beautiful CSS reset
            
            section
                h2 Simple paragraphs
                
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a scelerisque risus. Nulla finibus laoreet velit, sed facilisis nibh lacinia at. Integer tincidunt at ex id imperdiet. Nulla id laoreet turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a scelerisque risus. Nulla finibus laoreet velit, sed facilisis nibh lacinia at. Integer tincidunt at ex id imperdiet. Nulla id laoreet turpis.
            
            section
                h2 Paragraphs with emphasis
                
                b An important paragraph
                
                p 
                    | Lorem ipsum dolor sit amet, 
                    span consectetur adipiscing elit
                    | . Sed a scelerisque risus. Nulla finibus laoreet velit, sed facilisis nibh lacinia at. Integer tincidunt at ex id 
                    strong imperdiet. 
                    | Nulla id laoreet turpis.
                
                p 
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a scelerisque risus. Nulla finibus laoreet velit, sed facilisis nibh lacinia at. 
                    em Integer tincidunt
                    | at ex id imperdiet. Nulla id laoreet turpis. Lorem ipsum dolor sit amet, 
                    em consectetur adipiscing elit. 
                    | Sed a scelerisque risus. Nulla finibus laoreet velit, sed facilisis nibh lacinia at. Integer tincidunt at ex id imperdiet. Nulla id laoreet turpis.
                    
            section
                h2 Headings 
                    em (this is an heading 2)
                
                p No, h1 isn't missing... juste look at the top of the page 
                
                h3 heading 3
                h4 heading 4
                h5 heading 5
                h6 heading 6
                
            section
                h2 Definition list
                
                dl
                    dt One word
                    dd The most efficient definition for the word
                    dt An other word
                    dd The most efficient definition for this other word
            
